oxAuth seems to drop parts of url query string when comparing redirect_uri during request authorization

## Description
If redirect_uri contains url query string in it, oxAuth seems to drop all its parameters except the first one (starting with the first occurence of `&` character in it) when comparing it to uris registered for this client.

## Steps To Reproduce
1. Create a test OIDC client registration suitable to be used for OIDC authz code flow; use next string for `redirect_uri` - `https://google.com/path?param=aa&param2=bb`
2. Set logging to TRACE for oxAuth and tail `oxauth.log`
3. In a separate incognito window follow an url like this: `https://YOUR-GLUU-HOST.FQDN/oxauth/authorize.htm?scope=openid&response_type=code&state=df73c40c-7262-4fa8-b5c9-8540fe58150a&nonce=df73c40c-7262-4fa8-b5c9-8540fe58150a&client_id=fcddcd9e-92c5-4405-8de5-c6e83df9db74&redirect_uri=https://google.com/path?param=aa&param2=bb`
4. Check the error in the log

## Expected behavior
According to [oAuth2 spec here](https://www.rfc-editor.org/rfc/rfc6749#section-3.1.2):
> The endpoint URI MAY include an
   "application/x-www-form-urlencoded" formatted (per Appendix B) query
   component ([RFC3986] Section 3.4), which MUST be retained when adding
   additional query parameters.

## Actual behavior
All query string parameters except the first one seems to already be truncated when oxAuth starts the comparison, as can be seen in the log snippet below:

```
2023-03-14 14:40:40,768 DEBUG [qtp902478634-21] [org.gluu.oxauth.service.RedirectionUriService] (RedirectionUriService.java:110) - Validating redirection URI: clientIdentifier = fcddcd9e-92c5-4405-8de5-c6e83df9db74, redirectionUri = https://google.com/path?param=aa, found = 1
2023-03-14 14:40:40,768 DEBUG [qtp902478634-21] [org.gluu.oxauth.service.RedirectionUriService] (RedirectionUriService.java:132) - Comparing https://google.com/path?param=aa&param2=bb == https://google.com/path?param=aa
2023-03-14 14:40:40,768 DEBUG [qtp902478634-21] [org.gluu.oxauth.model.error.ErrorResponseFactory] (ErrorResponseFactory.java:72) - Looking for the error with id: invalid_request_redirect_uri
2023-03-14 14:40:40,769 DEBUG [qtp902478634-21] [org.gluu.oxauth.model.error.ErrorResponseFactory] (ErrorResponseFactory.java:77) - Found error, id: invalid_request_redirect_uri
2023-03-14 14:40:40,769 DEBUG [qtp902478634-21] [gluu.oxauth.authorize.ws.rs.AuthorizeAction] (AuthorizeAction.java:251) - HTTP 400 Bad Request
javax.ws.rs.WebApplicationException: HTTP 400 Bad Request
	at org.gluu.oxauth.authorize.ws.rs.AuthorizeRestWebServiceValidator.validateRedirectUri(AuthorizeRestWebServiceValidator.java:278) ~[classes/:?]
	at org.gluu.oxauth.authorize.ws.rs.AuthorizeAction.checkPermissionGranted(AuthorizeAction.java:249) ~[classes/:?]
	at jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method) ~[?:?]
	at jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62) ~[?:?]
	at jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43) ~[?:?]
	at java.lang.reflect.Method.invoke(Method.java:566) ~[?:?]
	at org.apache.el.parser.AstValue.invoke(AstValue.java:246) ~[org.mortbay.jasper.apache-el-9.0.52.jar:9.0.52]
```

Can you also check this on Jans Auth Server?

Yes, I will check in both oxauth and jans.

There no issue. redirect_uri in request is not url encoded and thus comes to AS corrupted. Hence AS can't validate it correctly.

`https://google.com/path?param=aa&param2=bb` must be url encoded `https%3A%2F%2Fgoogle.com%2Fpath%3Fparam%3Daa%26param2%3Dbb`.

Full url should look something like this
```
https://host.fqdn/oxauth/restv1/authorize?scope=openid&response_type=code&state=df73c40c-7262-4fa8-b5c9-8540fe58150a&nonce=df73c40c-7262-4fa8-b5c9-8540fe58150a&client_id=fcddcd9e-92c5-4405-8de5-c6e83df9db74&redirect_uri=https%3A%2F%2Fgoogle.com%2Fpath%3Fparam%3Daa%26param2%3Dbb
```

@aliaksander-samuseu confirmed it works correctly after value is url encoded.

Closing as invalid.

My apologies for false alarm.. I should have figured on my own that there should be a way for oxAuth to distinguish between redirect_uri's and authz request's special characters. 