Introspection endpoint not returning scopes as json string

RFC 7662 (section 2.2) describes the `scope` in the introspection response this way:

>   OPTIONAL.  A JSON string containing a space-separated list of
>    scopes associated with this token, in the format described in
>    Section 3.3 of OAuth 2.0 [RFC6749].

Our introspection endpoint (tested in 4.2.1) returns a json array, not a json string. Here is a example:

```
$ curl -u 'clientId:clientSecret' -d grant_type=client_credentials -d scope='openid user_name' https://my.gluu.org/oxauth/restv1/token
{"access_token":"9eb9c270-169b-47eb-918e-ca7ef5067fe0","scope":"openid user_name","token_type":"bearer","expires_in":299}

$ curl -H 'Content-Type: application/x-www-form-urlencoded' -H 'Authorization: Bearer 9eb9c270-169b-47eb-918e-ca7ef5067fe0' -d token=9eb9c270-169b-47eb-918e-ca7ef5067fe0 https://my.gluu.org/oxauth/restv1/introspection
{"sub":"","aud":"10355e2e-9cbc-41de-8a72-817689cb3132","scope":["openid","user_name"],"acr_values":null,"iss":"https://test-casa.gluu.org","active":true,"token_type":"bearer","exp":1605988431,"iat":1605988131,"client_id":"...","jti":null,"username":null}
```

We should analyse the impact of this change in current customer setups if we decide to conform to the space-separated string.


It requires a feature flag to maintain old behavior.  In Janssen, space separated string (according to the spec) should be the default.  We should implement [FF4J](https://github.com/JanssenProject/jans-auth-server/issues/3)

Changes in PR https://github.com/GluuFederation/oxAuth/pull/1501 accepted

Jans-auth-server commits:
https://github.com/JanssenProject/jans-auth-server/commit/37027a77354fffd637140804e6a6a42df11aaf78
https://github.com/JanssenProject/jans-auth-server/commit/0ad09b2549c50c710977eb7c9b70ceafe8f08c0e